```html
{% extends "layout.html" %}

{% block content %}

<h2>Current Weather</h2>

<form method="POST">

    <input
        type="text"
        name="city"
        placeholder="Enter City Name"
        required>

    <button type="submit">Search</button>

</form>

{% if weather %}

<div class="weather-card">

    <h2>{{ weather.city }}, {{ weather.country }}</h2>

    <h3>{{ weather.temperature }} °C</h3>

    <p><strong>Condition:</strong> {{ weather.description }}</p>

    <p><strong>Humidity:</strong> {{ weather.humidity }}%</p>

    <p><strong>Pressure:</strong> {{ weather.pressure }} hPa</p>

    <p><strong>Wind Speed:</strong> {{ weather.wind_speed }} m/s</p>

    <p><strong>Date:</strong> {{ date }}</p>

    <p><strong>Time:</strong> {{ time }}</p>

    <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">

</div>

{% endif %}

{% endblock %}
```
